@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "bubbles";
        src: url("src/assets/font.ttf") format("truetype");
    }

    @font-face {
        font-family: "thin";
        src: url("src/assets/Roboto.ttf") format("truetype");
    }

    html {
        font-family: "bubbles";
    }

    button, h6 {
        font-family: "thin";
    }
}