@import "./assets/theme";

@font-face {
    font-family: "concert";
    src: url("./assets/font.ttf") format('truetype');
}

body {
    background-color: $background;
    color: $text;
    font-family: "concert";
}